.RData
neta-bcpls.Rproj
*.Rproj$
.Rproj\.user
.Rhistory
*_cache
*_files
_results
neta/*html
neta/.Rhistory
docs/model-fits
docs/neta/*.Rmd
docs/neta/*.R
docs/neta/*.nb.html
docs/neta/*_cache
docs/clean-data/*.Rmd
docs/clean-data/*.R
docs/clean-data/*.nb.html
docs/clean-data/*_cache
docs/data/
#neta-cytoscape
neta/*.eps
neta/*.svg
neta/*.cys
neta/*.R
figures/
.Rproj.user
